:root{
    --first-background-color: rgb(153, 53, 53);
    --first-background-color_text: rgb(255, 255, 255);
    --first-bakcground-color_hover: rgb(182, 94, 94);
    --first-bakcground-color_hover_text: rgb(0, 0, 0);
}
* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

section {
    margin: 5px;
}

article {
    margin: 3px;
}

/* ------fonts */
html {
    font-size: 10px;
    font-family: 'Cormorant Garamond', serif;
}
p {
    font-size: 1.8rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.8rem;
}
h5 {
    font-size: 1.6rem;
}
h6 {
    font-size: 1.2rem;
}
figcaption {
    font-size: 1.8rem;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

header ul {
    height: 5vh;
    width: 100vw;
    background-color: var(--first-background-color);
    color: var(--first-background-color_text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
header li {
    list-style: none;
    font-size: 1.8rem;
}
header li:hover {
    background-color: var(--first-bakcground-color_hover);
    color: var(--first-bakcground-color_hover_text);
}

main > section {
    min-height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .skill > article{
    width: 40vw;
} */

.skill img {
    max-height: 50px;
}